<!-- your html code here -->
<body id="body-first-heading">
<div class="container-fluid pt-5 mt-5">
    <div class="row">
        <div class="col-md-8"><h1>This First Heading <span style="color: gray;">Will Catch Your Eye</span></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae magni hic expedita! Similique voluptates sed velit error, debitis perferendis, consectetur sequi dolor possimus repellendus eaque facere obcaecati magnam officiis.</p></div>
         <img id="img-first-heading" src="/website1\assets\img\1.jpg" alt="imagen">
        </div>
    </div>
</div>
</body>