<div class="container-fluid">
    <div class="row ">
        <div class="col-12">
           <h1>Portfolio</h1>
        </div>
        <div class="col-12">
          <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum </p>
         
      </div>
     
    
        <div  class="row ">
         
                <div class="col-4 ">
                    <img src="../../website1/assets/img/big-project-image.png" class="card-img-top" alt="img1">
                    <div class="card-body">
                      <h2 class="text-primary">Project Name</h2>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="col-4 ">
                    <img src="../../website1/assets/img/big-project-image.png" class="card-img-top" alt="img2">
                    <div class="card-body">
                      <h2 class="text-primary ">Project Name</h2>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="col-4 " >
                    <img src="../../website1/assets/img/big-project-image.png" class="card-img-top" alt="img3">
                    <div class="card-body">
                      <h2 class="text-primary">Project Name</h2>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>



            
            
        </div>



    </div>
   
  


</div>





