

    <div class="container-fluid bg-white p-0">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-4  py-5  ">
                <img class="rounded-circle pl-3" src="../../website1/assets/img/2.jpg" alt="imagen escritorio">
            </div>
        
            <div  class="col-lg-8 py-5  ">
                <h1>The second Heading <span style="color:grey"> Is Pretty Cool Too.</span></h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                     nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                     velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                     sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
    
            </div>

        </div>
       
    </div>





